certifi==2025.6.15
charset-normalizer==3.4.2
idna==3.10
numpy==2.3.1
pandas==2.3.0
ply==3.11
pyasn1==0.6.1
pycryptodome==3.23.0
pysnmp==7.1.21
pysnmp-pysmi==1.1.12
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
scapy==2.6.1
six==1.17.0
snmp==0.8.1
tzdata==2025.2
urllib3==2.5.0
